<!DOCTYPE html>
<html lang="en">
  <head>
<style>
    body { background-color: #9fd5d1; }
    .caja { 
font-family: sans-serif; 
font-size: 18px; 
font-weight: 400; 
color: #ffffff; 
background:#FF0000 }
  </style>
<form method="POST">
  <div class="caja">
NOTA: AL ELIMINAR UN CLIENTE TAMBIEN SUS DATOS DE FACTURAS SE ELIMINARAN
PARA MAYOR SEGURIDAD LAS FACTURAS BORRADAS SON ALMACENADAS EN TABLAS TEMPORALES PARA QUE LAS PUEDA CONSULTAR NUEVAMENTE EN EL FUTURO
DESDE EL MODULO FACTURAS TEMPORALES</div>
         <P>INGRESE LA CEDULA  DEL CLIENTE A ELIMINAR</P><input name="text" ></P>
    <P>BORRAR CLIENTE: <input type="submit"></P>
</form>
 </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">INICIO</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Panel de interaccion</h3>
      </div>
      
  </body>
</html>