<!DOCTYPE html>
<html lang="en">
<form method="POST">
  <p>CODIGO_PRODUCTO: <input type="text" name="codigo_producto" ></p>
  <p>CATEGORIA_PRODUCTO: <input type="text" name="categoria_producto"></p>
  <p>NOMBRE_PRODUCTO: <input type="text" name="nombre_producto"></p>
  <p>PRECIO_PRODUCTO: <input type="text" name="precio_producto"></p>
  <p>CANTIDAD_BODEGA: <input type="text" name="stock_producto"></p>
  <p>ESTADO: <input type="text" name="estado_producto"></p>

  <p>
    <input type="submit" value="Enviar datos">
    <input type="reset" value="Restaurar formulario">
  </p>
</form>
<head>
      <p>Recuerde lo siguiente:
El codigo de cada producto a registrar es unico</p>
<p>
El campo estado puede tener dos valores ACTIVO E INACTIVO
  </p>
 <style>
    body { background-color: #9fd5d1; }
  </style> 
  </head>
  <body>
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">INICIO</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Panel de interaccion</h3>
      </div>   
  </body>
</html>