<!DOCTYPE html>
<html lang="en">
  <head>
<style>
    body { background-color: #9fd5d1; }
  </style>
<form method="POST">
         <P>INGRESE 1 PARA ACTIVAR Y 2 PARA DESACTIVAR PRODUCTO</P><input name="opcion" ></P>
         <P>INGRESE EL CODIGO DEL PRODUCTO</P><input name="codigo_producto" ></P>
    <P>REALIZAR OPERACION: <input type="submit"></P>
</form>
 <body>
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">INICIO</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Panel de interaccion</h3>
      </div>     
  </body>
 </head>
 </html>