<!DOCTYPE html>
<html lang="en">
  <head>
<style>
    .caja { 
font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
color: #ffffff; 
font-size: 18px; 
font-weight: 100; 
text-align: left; 
background: #889ccf; 
margin: 0 0 20px; 
}
    

     body { background-color: #9fd5d1; }
    .redondeado {
     border-radius: 5px;
   }
  </style>
<form method="POST">
           <P>CEDULA:</P><input name="inputCedula" class="redondeado"  placeholder="Ingrese cedula" ></P>
             <P>NOMBRE_CLIENTE:</P><input name="inputNombre_cliente"placeholder="Ingrese nombre" class="redondeado"  ></P>
               <P>DIRECCION:</P><input name="inputDireccion" placeholder="Ingrese direccion" class="redondeado"  ></P>
                 <P>TELEFONO:</P><input name="inputTelefono" placeholder="Ingrese telefono" class="redondeado" ></P>
  
    
      <div class="caja">{{opcion1}} <input type="submit">
      <P>REGISTRAR CLIENTE:</P><input name="text" class="redondeado"  ></P></div>
</form>
 </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">INICIO</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Panel de interaccion</h3>
      </div>
      
  </body>
</html>